@import './../base/variables';

$spacing: 40px;

header {
    padding-top: $spacing;
    padding-bottom: $spacing;

    h1 {
        font-weight: 900 !important;
        color: $black;
        margin-bottom: 0;
    }
}
